@use '../utils/variables'; // 🎯 Import du fichier contenant les variables SCSS

/* =============== Section d’introduction (location) =============== */

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: variables.$menu-color; //  Couleur de fond définie dans les variables
  padding: 39px 20px 50px; //  Espacement autour du contenu

  //  Titre principal
  &__title {
    font-family: variables.$primary-font;
    font-size: 24px;
    font-weight: 700; 
  }

  //  Sous-titre
  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    font-family: variables.$primary-font;
    color: #353535;
    margin-top: 5px;
  }
}
