$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$menu-color: #F6F6F6;
$location-color : #EAEAEA;
$footer-background: #353535;
$text_color: white;
$icon-color: #7E7E7E;
$text-new : #008766;

//**** Fonts ****//
$primary-font: 'Roboto';
$secondary-font: "Shrikhand";